
@{
    Layout = null;
}

<h3>MVC Tablo Örneği</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Epğitim</td>
        <td>Açıklama burada</td>
        <td>Doğru</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>Yanlış</td>
    </tr>
</table>
